<h2 class="title">todolist-list</h2>
<hr />

<div>{{ str }}</div>

<hr />
<div *ngFor="let user of renderNg">
  <b>Name:</b>
  {{ user.name }}
  <b>age:</b>
  {{ user.age }}
</div>

<hr />
<h2>Todolist</h2>
<div *ngFor="let todo of todos">
  {{ todo.title }}, order: {{ todo.order }}
  <button (click)="deleteTodo()">delete todo</button>
</div>
<button (click)="createTodo({{todo.id}})">add todo</button>
<hr />

<hr />
<todo-children [children]="children" (sendString)="emitHandler($event)">
</todo-children>
